.ct-chart1 .ct-label.ct-horizontal {
    transform: rotate(-45deg);
    transform-origin: top right;
    text-anchor: end;
    font-size: 12px;
  }

@media screen and (min-width: 900px){
    body {
        width: 80%;
        margin: auto;
    }
}